/* You can add global styles to this file, and also import other style files */
li.list-group-item{
  cursor: pointer;
}

ul.list-group li.active{
  color: #0011ff;
  font-weight: bold;
  font-style: italic;
  background: #a5abf5;
}

ul.list-group.list-group-striped li:nth-of-type(odd){
  background: #fff;
}

ul.list-group.list-group-striped li:nth-of-type(even){
  background: #dfdcdc;
}

ul.list-group.list-group-hover li:hover{
background: #fcf7b1;
}

.iconoVerde{
  color: #0cce46;
  font-size: 20px;
}

.textoPequeno{
  font-size: 14px;
}
